#define SPRITESET_EXTENDED(num0, num1)              \
spriteset(s_%name0_##num0) {                        \
    X:     t_platform_extended_##num0("%name0")      \
    Y:     t_platform_extended_##num1("%name0")      \
    X_snow:t_platform_extended_##num0("snow_%name0") \
    Y_snow:t_platform_extended_##num1("snow_%name0")}\

SPRITESET_EXTENDED(0, 6)
SPRITESET_EXTENDED(1, 7)
SPRITESET_EXTENDED(2, 8)
SPRITESET_EXTENDED(3, 9)
SPRITESET_EXTENDED(4, 10)
SPRITESET_EXTENDED(5, 11)
